In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# from pandas.table.plotting import table



AAPL = pd.read_csv(r'../data/AAPL.csv', index_col = 0)
IBM = pd.read_csv(r'../data/IBM.csv', index_col = 0)
JPM = pd.read_csv(r'../data/JPM.csv', index_col = 0)
DJI = pd.read_csv(r'../data/DJI.csv', index_col = 0)

sec = ["AAPL", "IBM", "JPM", "DJI"]

Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

# 1 day return

In [2]:
AAPL['1DReturn'] = AAPL['Adj Close'].pct_change()
IBM['1DReturn'] = IBM['Adj Close'].pct_change()
JPM['1DReturn'] = JPM['Adj Close'].pct_change()
DJI['1DReturn'] = DJI['Adj Close'].pct_change()
# print(AAPL['1DReturn'])

In [3]:
stats = pd.DataFrame(columns=sec)
stats

Empty DataFrame
Columns: [AAPL, IBM, JPM, DJI]
Index: []

In [4]:
pd.set_option('display.float_format', lambda x: '%.6f' % x)


onedret = pd.DataFrame(columns=sec)

mode = "1DReturn"
mean = []

mean.append(np.mean(AAPL[mode]))
mean.append(np.mean(IBM[mode]))
mean.append(np.mean(JPM[mode]))
mean.append(np.mean(DJI[mode]))


median = []

median.append(AAPL[mode].median())
median.append(IBM[mode].median())
median.append(JPM[mode].median())
median.append(DJI[mode].median())


stddev = []
stddev.append(np.std(AAPL[mode]))
stddev.append(np.std(IBM[mode]))
stddev.append(np.std(JPM[mode]))
stddev.append(np.std(DJI[mode]))
# print(stddev)

s = pd.Series(mean, index=stats.columns)
s.name = mode+"_mean"
onedret = onedret.append(s)

s = pd.Series(median, index=stats.columns)
s.name = mode+"_median"
onedret = onedret.append(s)

s = pd.Series(stddev, index=stats.columns)
s.name = mode+"_stddev"
onedret = onedret.append(s)

onedret

                    AAPL       IBM       JPM      DJI
1DReturn_mean   0.000426 -0.000252 -0.000133 0.000197
1DReturn_median 0.001611  0.000409 -0.000603 0.000375
1DReturn_stddev 0.019284  0.015530  0.013062 0.010455

In [5]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)

modes = ['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']
for mode in modes:
    mean = []

    mean.append(np.mean(AAPL[mode]))
    mean.append(np.mean(IBM[mode]))
    mean.append(np.mean(JPM[mode]))
    mean.append(np.mean(DJI[mode]))


    median = []

    median.append(np.median(AAPL[mode]))
    median.append(np.median(IBM[mode]))
    median.append(np.median(JPM[mode]))
    median.append(np.median(DJI[mode]))


    stddev = []
    stddev.append(np.std(AAPL[mode]))
    stddev.append(np.std(IBM[mode]))
    stddev.append(np.std(JPM[mode]))
    stddev.append(np.std(DJI[mode]))
    # print(stddev)

    s = pd.Series(mean, index=stats.columns)
    s.name = mode+"_mean"
    stats = stats.append(s)

    s = pd.Series(median, index=stats.columns)
    s.name = mode+"_median"
    stats = stats.append(s)

    s = pd.Series(stddev, index=stats.columns)
    s.name = mode+"_stddev"
    stats = stats.append(s)
    
#     df.loc[:4].style.background_gradient(cmap='viridis')
# color='#d65f5f'
# stats.loc[:].style.background_gradient(cmap='viridis')
stats

                         AAPL         IBM          JPM           DJI
Open_mean             187.687     138.454      108.708     25001.257
Open_median           186.290     142.810      109.180     25025.580
Open_stddev            22.101      12.090        5.348       857.122
High_mean             189.562     139.492      109.652     25142.042
High_median           187.400     143.990      110.530     25124.100
High_stddev            22.237      11.889        5.192       813.578
Low_mean              185.824     137.329      107.683     24846.002
Low_median            184.940     142.060      107.790     24883.039
Low_stddev             21.965      12.180        5.422       901.501
Close_mean            187.712     138.363      108.607     24999.154
Close_median          186.120     142.710      109.020     25044.289
Close_stddev           22.117      12.004        5.290       857.419
Adj Close_mean        186.174     134.903      107.263     24999.154
Adj Close_median      184.352     138.566      107.219     25044.289
Adj Close_stddev       21.861      10.650        4.824       857.419
Volume_mean      32704750.199 5198937.450 14700689.243 332889442.231
Volume_median    29184000.000 4237900.000 13633000.000 313790000.000
Volume_stddev    14151446.946 3322317.527  5339103.015  93890444.658

In [6]:
# ax = plt.subplot(111, frame_on=False) # no visible frame
# ax.xaxis.set_visible(False)  # hide the x axis
# ax.yaxis.set_visible(False)  # hide the y axis
# table(ax, stats)  # where df is your data frame

# ax.show()